{% extends "base.html" %}
{% block title %}
  Account Settings | {{ user }}
{% endblock title %}
{% block content %}
  <div class="py-12 flex justify-center items-center">
    <div class="text-center">
    <a href="{% url 'changepassword' %}" class="border rounded-xl border-teal-500 text-teal-500 p-3 hover:bg-teal-500 hover:text-white">Change Password</a><br><br><br>
    <a href="{% url 'logout' %}" class="border rounded-xl border-gray-500 text-gray-500 p-3 hover:bg-gray-500 hover:text-white">Logout</a><br><br><br>
    {% for items in account %}
    {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <a href="{% url 'delete-acct' items.id %}" class="border border-red-500 text-red-500 rounded-xl p-3 hover:bg-red-500 hover:text-white">Delete Account for {{ items.username }} - {{ items.email }}</a><br><br><br>
        {% else %}
        {% endif %}
         {% else %}
         {% endif %}
    
    {% endfor %}
    </div>
    </div>
{% endblock content %}