{% extends "partials/base.html" %}

{% block title %}
Add HTMl and CSS videos
{% endblock title %}

{% block content %}
<div class="py-12 lg:mt-20 items-center justify-center flex">
    <div>
        <p class="text-center">
            <a href="{% url 'add_html_css' %}" class="text-white bg-red-600 rounded-lg lg:p-3 p-2">HTMl AND
                CSS</a><br><br>
            <br><a href="{% url 'add_js' %}"
                class="text-white bg-yellow-600 rounded-lg lg:p-3 p-2">JavaScript</a><br><br>
            <br><a href="{% url 'add_py' %}" class="text-white bg-blue-600 rounded-lg lg:p-3 p-2">Python</a><br><br>
            <br><a href="{% url 'add_dj' %}" class="text-white bg-green-600 rounded-lg lg:p-3 p-2">Django</a><br><br>
        <p class="text-center cursor-pointer text-rose-900 underline" onclick="goBack()">Back</p>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        </p><br>
    </div>
</div>
{% endblock content %}