{% extends "partials/base.html" %}

{% block title %}
Add Python Videos
{% endblock title %}

{% block content %}
<div class="py-12lg:mt-[6rem] mt-[3rem] items-center justify-center flex">
    <form action="." method="post" class="shadow-xl lg:p-10 p-4 border" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors or form.non_field_errors %}
        <div class="bg-red-500 p-3 rounded-lg mb-2 text-white w-[17rem] lg:w-[20rem]">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <h2 class="text-center text-blue-500 font-bold">Add Python videos</h2><br>
        <label>Title <span class="text-red-600">*</span></label> <br>
        {{ form.title }} <br><br>
        <label>Youtube Source <span class="text-red-600">*</span></label> <br>
        {{ form.youtube_source }} <br><br>
        <label>PDF(Optional) <span class="text-red-600">*</span></label> <br>
        {{ form.pdf }} <br><br>
        <label>Details <span class="text-red-600">*</span></label> <br>
        {{ form.details }} <br><br>
        <button type="submit" class="bg-blue-700 text-white p-2 w-[17rem] lg:w-[20rem]">Post</button>
        <br>
        <p class="cursor-pointer text-rose-900 underline" onclick="goBack()">Back</p>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
    </form>
</div>
{% endblock content %}