{% extends "base.html" %}

{% block title %}
  Ask Questions
{% endblock title %}
{% block content %}
  <div class="py-12 px-6 flex items-center justify-center">
    <form action="" method="post" class="bg-gray-200 p-3 rounded-xl">
        {% csrf_token %}
        <h2 class="font-semibold text-blue-700">Send a Question<br></h2><br>
        <label class="text-blue-700">Subject :<br></label>
        <input type="text" class="border-b border-blue-700 p-1 text-blue-500 bg-gray-200 w-[20rem] mt-3" name="subject">
        <br><br>
        <label class="text-blue-700">Feedback:</label>
        <br>
        <textarea name="message" class="font-semibold text-blue-700 border-b border-blue-700 bg-gray-200 text-blue-500 w-[20rem] mt-3" cols="30" rows="10"></textarea>
        <br>
        <label class="text-blue-700">Your Email Address:<br></label>
        <input type="email" class="border-b p-1 border-blue-700 text-blue-500 bg-gray-200 w-[20rem] mt-3" name="email">
        <br><br>
        <button type="submit" class="border border-blue-700 w-[20rem] rounded-lg p-1 text-blue-700 hover:bg-blue-800 hover:text-white hover:border-blue-800">Send Question</button>
    </form>
  </div>
{% endblock content %}