{% extends "base.html" %}
{% block title %}
Change Password | {{ user }}
{% endblock title %}
{% block content %}
<div class="py-12 flex justify-center items-center">
    <div>
    <form action="" method="post" class="bg-gray-200 p-3 rounded-xl">
        {% csrf_token %}
        <label>{{ form.old_password.label }} <br></label>
        {{ form.old_password }} <br>
        <label>{{ form.new_password1.label }} <br></label>
        {{ form.new_password1 }} <br>
        <label>{{ form.new_password2.label }} <br></label>
        {{ form.new_password2 }} <br>
        {% if form.errors or form.non_field_errors %}
        <div class="w-[20rem] text-red-500 mb-4">
              {% for field in form %}
                {{ field.errors }}
              {% endfor %}
              {{ form.non_field_errors }}
        </div>
            {% endif %}
        <button type="submit" class="border rounded-xl border-blue-500 text-blue-500 p-2 w-[20rem] my-3 hover:bg-blue-500 hover:text-white">Change Password</button>
    </form>
    </div>
</div>
{% endblock content %}