{% extends "base.html" %}
{% block title %}
  {{ twdcss.title }}
{% endblock title %}
{% block content %}
  <div class="py-12 flex">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <h1 class="text-xl font-semibold text-gray-900">
                    {{ twdcss.title }}
                </h1>
            </div>
            <div class="p-6 bg-white border-b border-gray-200">
                {{ twdcss.description }} - {{ twdcss.created_at }}
            </div>
            <div class="p-6 bg-white border-b border-gray-200">
                <iframe src="{{ twdcss.video }}" frameborder="0"></iframe>
            </div>
    <div>
{% endblock content %}