{% extends "partials/base.html" %}

{% block title %}
{{ html_css.title }}
{% endblock title %}

{% block content %}
<div class="p-12 items-center justify-center flex">
    <div>
        <p class="cursor-pointer text-rose-900 underline" onclick="goBack()">Back</p>
        <script>
            function goBack() {
                window.history.back()
            }
        </script>
        <iframe src="{{ html_css.youtube_source }}" class="lg:w-[30rem] lg:h-[15rem]"></iframe>
        <br>
        <p class="lg:text-4xl font-bold text-red-600 text-center">{{ html_css.title.capitalize }}</p>
        <p><br>
            <span>Content:</span><br><br>
        <p class="lg:w-[30rem] p-4 w-[18.5rem] bg-gray-300 lg:p-5">
            {{ html_css.details }}
        </p>
        <p><br><br>
            {% if html_css.pdf %}
            <a href="{{ html_css.pdf.url }}" class="text-purple-600 underline">View PDF File</a>
            {% else %}
            {% endif %}
        </p>
        <br><br>
        {% if request.user.is_superuser %}
        <div class="flex gap-5">
            <a href="{% url 'update_html_css' html_css.pk %}"
                class="text-purple-600 hover:text-purple-800 hover:underline">Edit...</a>
            or
            <a href="{% url 'delete_html_css' html_css.pk %}"
                class="text-purple-600 hover:text-purple-800 hover:underline">Delete...</a>
        </div>
        {% endif %} <br>
        </p>
    </div>
</div>
{% endblock content %}